<font color=Green>
    
# **1.4 Ingresar y leer datos en la BD**

</font>

### Para ingresar datos a una base de datos, primero debemos definir la estructura de la tabla que almacenará los datos.

### `CREATE TABLE` es el comando para crear una tabla.

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import sqlite3

In [11]:
conexion = sqlite3.connect("ejemplo.db") 
cursor = conexion.cursor()

# Creamos una tabla llamada Estudiantes
cursor.execute("CREATE TABLE estudiantes (email VARCHAR(100), carrera VARCHAR(100), nombre VARCHAR(100), edad INTEGER)")

conexion.close()

### `INSERT INTO` es el comando para ingresar datos.

In [12]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

# Insertamos un registro en la tabla
cursor.execute("INSERT INTO estudiantes VALUES ('bluenote@googlemail.com','Artes','Sharon', 27)")

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

### `SELECT * FROM` es el comando para leer el contenido de una tabla.

In [13]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Seleccionamos todos los registros en la tabla
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchone()
print(usuarios)

('bluenote@googlemail.com', 'Artes', 'Sharon', 27)

### También podemos ingresar y leer varios registros al mismo tiempo.

In [14]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

usuarios = [
    ('parrillaexquisita@vip.com','Arquitectura','Giulia', 26),
    ('lollipopbusiness@vip.com','Contaduría','Rosana', 60),
    ('solfernandez@googlemail.com','Estadística','Sol', 30),
    ('carlitos@googlemail.com','Computación','Carlos', 60),
    ('imprentadetata@vip.com','Periodismo','Luciano', 21)
]


cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", usuarios)

conexion.commit()

conexion.close()

In [15]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Recuperamos los registros de la tabla
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchall()

#print(usuarios)

for u in usuarios:
    print(u)
    
conexion.close()

('bluenote@googlemail.com', 'Artes', 'Sharon', 27)
('parrillaexquisita@vip.com', 'Arquitectura', 'Giulia', 26)
('lollipopbusiness@vip.com', 'Contaduría', 'Rosana', 60)
('solfernandez@googlemail.com', 'Estadística', 'Sol', 30)
('carlitos@googlemail.com', 'Computación', 'Carlos', 60)
('imprentadetata@vip.com', 'Periodismo', 'Luciano', 21)